:root{
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
}

*{
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}

body{
    min-height: 100vh;
    background-color: var(--Cream);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    padding: 40px 15px;
    width: 100%;
    max-width: 600px;
    min-width: 360px;
    flex-grow: 1;
}

header, article{
    border-radius: 25px;
    padding: 30px;
}

header{
    background-color: var(--Soft-red);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

article{
    background-color: var(--Very-pale-orange);
}

.article__bottom-text-container{
    display: flex;
    border-top: 2px solid var(--Cream);
    justify-content: space-between;
    padding-top: 20px;
    margin-top: 20px;
}

h1, .total-month-container span, .last-month-container span{
    color: var(--Dark-brown);
    font-weight: 700;
}

.balance-container p, .total-month-container p{
    font-size: 0.9em;
    margin-bottom: 5px;
}

.balance-container span{
    font-weight: 700;
    font-size: 1.5em;

}

ul{
    list-style: none;
    display: flex;
    gap: 4%;
    padding-top: 5px;
    justify-content: center;
}

ul li{
    width: 10%;
    text-align: center;
}

.total-month-container span, .balance-container span{
    letter-spacing: 1px;
}

.total-month-container span{
    font-size: 2em;
}

.last-month-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.last-month-container p, ul li{
    font-size: 0.9em;
}

ul, .total-month-container p, .last-month-container p{
    color: var(--Medium-brown);
}

h1{
    font-size: 1.6em;
    padding-bottom: 45px;
}

.chart-container{
    display: flex;
    gap: 4%;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
}

.chart-component{
    border-radius: 10px;
    width: 10%;
    background-color: var(--Soft-red);
    cursor: pointer;
    position: relative;
    height: 0;
    transition: all 1s;
    z-index: 1;
    opacity: 1;
}

.chart-component:hover{
    filter: brightness(1.2);
}

.span-chart-amount{
    background-color: var(--Dark-brown);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    font-size: 0.9em;
    left: -9px;
    top: -30px;
    opacity: 0;
    transition: all 1s;
    z-index: 100;
}

.active-chart{
    opacity: 1;
    top: -45px;
}

.wednesday-chart{
    background-color: var(--Cyan);
}

.attribution p{ 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
    font-size: 14px;
}

.attribution a:hover { 
    text-decoration: underline;
}

@media only screen and (max-width: 540px){
    .tuesday-span, .monday-span, .friday-span{
        left: -35px;
    }
} 